{% if item.value.bootproto is defined %}
BOOTPROTO={{ item.value.bootproto }}
{% else %}
BOOTPROTO=none
{% endif %}
DEVICE={{ item.key }}
{% if item.value.macaddr is defined %}
HWADDR= {{ item.value.macaddr }}
{% endif %}
{% if item.value.mtu is defined %}
MTU={{ item.value.mtu |int }}
{% endif %}
{% if item.value.defroute is defined %}
DEFROUTE={{ item.value.defroute }}
{% endif %}
{% if item.value.ipaddr is defined %}
IPADDR={{ item.value.ipaddr }}
PREFIX={{ item.value.prefix }}
{% endif %}
{% if item.value.gateway is defined %}
GATEWAY={{ item.value.gateway }}
{% endif %}
{% if item.value.nameserver is defined %}
DNS1={{ item.value.nameserver }}
DOMAIN= {{ item.value.domain }}
{% endif %}
ONBOOT=yes
TYPE=Ethernet
USERCTL=no

